<html>
    <head>
        <meta name="description" content="Strava Wind Segment Analysis takes segment efforts and compares how much wind helped athletes on the leaderboard.">
        <meta name="author" content="Horatiu Lazu">
        <meta name="keywords" content="Strava,Weather,Analysis,Wind,Segment,KOM">

        <link rel="stylesheet" type="text/css" href="/stylesheets/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
        <title> Wind Analysis - Segment Details </title>
        <style>
            td:first-letter {
                text-transform: capitalize;
            }
            footer {
                background: #ccc;
            }
        </style>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li class="heading active"><a href="../segments">Segments</a></li>
                        <li><a href="../rides">Rides</a></li>
                        <li><a href="../settings">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <br><br>
        <div class="ink-grid">
            {{#if errMsg}}
                    <div class="ink-alert block error" role="alert">
                        <button class="ink-dismiss">&times;</button>
                        <h4>Internal System Error</h4>
                        <p class="fw-300">{{errMsg}}</p>
                    </div>
                    <br><br>
                {{/if}}
            <div class="ink-tabs top" data-prevent-url-change="true">

                <ul class="tabs-nav" style="margin-top: -20px">
                    <li><a class="tabs-tab" href="#overview" id="overviewTab">Overview</a></li>
                    <li><a class="tabs-tab" href="#charts" id="chartsTab">Charts Visualization</a></li>
                    <li><a class="tabs-tab" href="#compare" id="compareTab">Athlete Comparison</a></li>
                </ul>

                <div id="charts" class="tabs-content">
                    <div class="column-group">
                        <div class="all-30">
                            <div style="margin: 10px">
                               <nav class= "ink-navigation sidebar">
                                    <ul>
                                        <li class="fw-200"> Chart Selection </li>
                                        <hr>
                                        <li class="slab-100"><a href="#" id="individual-segment-efforts-imposed">Individual Efforts Segmented</a></li>
                                        <li class="slab-100"><a href="#" id="all-segment-efforts-imposed">All Efforts Segmented </a></li>
                                        <li class="slab-100"><a href="#" id="personal-history">Individual Historical Performance </a></li>
                                        <li class="slab-100"><a href="#" id="leaderboard-history">Leaderboard Historical Performance </a></li>
                                        <li class="slab-100"><a href="#" id="individual-wind-radar">Individual Wind Radar </a></li>
                                        <hr>
                                        {{!-- <li class="slab-100"><a href="#" id="individual-segmented-efforts-interpolate">Individual Segmented + Interpolation </a></li>
                                        <li class="slab-100"><a href="#" id="all-segmented-efforts-interpolate">All Efforts Segmented + Interpolation </a></li> !--}}
                                        <li class="slab-100"><a href="#" id="personal-history-regression">Performance Regression Analysis </a></li>
                                        <hr>
                                        <p class="fw-200">Chart Options</p> 
                                        <div class="slidecontainer">
                                            <li class="slab-100">Start Domain: <input type="range" min="0" max="100" value="0" class="slider" id="startDomainSlider"> <div style="float: right" id="startX"> 0</div></li>
                                        </div>
                                        <div class="slidecontainer">
                                            <li class="slab-100">End Domain: <input type="range" min="0" max="100" value="100" class="slider" id="endDomainSlider"> <div style="float: right" id="endX"> 0</div></li>
                                        </div>
                                    </ul>
                                </nav>
                            </div>            
                        </div>
                        <div class="all-70">
                            <div style="margin: 10px">
                                <center> <h3 class="fw-400"> Chart Visualization - Leaderboard</h3> </center>
                                <hr>
                                <br>
                                <div id="chart-container">
                                    <canvas id="chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="compare" class="tabs-content">
                    <p> Coming soon! </p>
                </div>

                <div id="overview" class="tabs-content">
                    <div class="column-group">
                        <div class="all-30">
                            <div style="margin: 10px">
                                <center> <h3 class="fw-400"> {{name}} </h3> </center>
                                <hr>
                                <nav class= "ink-navigation sidebar">
                                    <ul>
                                        <li> Average Slope: <div class="slab-100" style="display: inline"> {{average_grade}}% </div></li>
                                        <li> Maximum Slope: <div class="slab-100" style="display: inline"> {{maximum_grade}}% </div></li>
                                        <li> Distance: <div class="slab-100" style="display: inline"> {{distance}}km </div></li>
                                        <li> Location: <div class="slab-100" style="display: inline"> {{city}}, {{country}} </div></li>
                                        <li> Participants: <div class="slab-100" style="display: inline"> {{participants}} athletes</div></li>
                                        <li> Official Leaderboard: <div class="slab-100" style="display: inline"> <a href="{{leaderboardLink}}" target="_blank">View on Strava </a></div></li>
                                    </ul>
                                    <hr>
                                    <div id="map"></div>
                                </nav>
                            </div>            
                        </div>
                        <div class="all-70">
                            <div style="margin: 10px">
                                <center> <h3 class="fw-400"> Segment Leaderboard</h3> </center>
                                <hr>
                                <table class="ink-table hover alternating">
                                    <thead>
                                        <tr>
                                            <th class="align-left">Rank</th>
                                            <th class="align-left">Athlete Name</th>
                                            <th class="align-left">Date</th>
                                            <th class="align-left">Speed</th>
                                            <th class="align-left">Wind Speed</th>
                                            <th class="align-left">Wind Direction</th>
                                            <th class="align-left">Ride Direction</th>
                                            <th class="align-left">Influence<a href="#" onclick="showInfluenceContainer()"><sup class="fw-300"><sup>[?]</sup></a></th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-300">
                                        {{#each leaderboard}}
                                            {{#with this}}
                                                    <tr class="fw-100" onclick="showModal({{athlete_id}});">
                                                        <td>{{rank}}</td>
                                                        <td>{{athlete_name}}</td>
                                                        <td>{{start_date}}</td>
                                                        <td>{{speed}}</td>
                                                        <td>{{wind_speed_str}}km/h</td>
                                                        <td>{{wind_bearing_str}}&deg;</td>
                                                        <td>{{ride_bearing_str}}&deg;</td>
                                                        <td>{{coefficient_str}}</td>
                                                    </tr>
                                            {{/with}}
                                        {{/each}}
                                    </tbody>
                                </table>
                                <div id="influenceContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-container">
                    <div class="ink-shade fade">
                        <div id="myModal" class="ink-modal fade" data-trigger="#showModal" data-width="60%" data-height="80%" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">
                            <div class="modal-header">
                                <button class="modal-close ink-dismiss"></button>
                                <h3 id="modal-title" class="fw-200">Individual Athlete Performance</h3>
                            </div>
                            <div class="modal-body" id="modalContent">
                                <h4 class="fw-100">Historical Efforts</h4>
                                <figure class="ink-image">
                                    <div id="individualEffortsSpeedChartContainer">
                                        <canvas id="individualEffortsSpeedChart"></canvas>
                                    </div>
                                </figure>
                                <br>
                                <h4 class="fw-100">Historical Performance</h4>
                                <figure class="ink-image">
                                    <div id="historicalSpeedDataContainer">
                                        <canvas id="historicalSpeedDataChart"></canvas>
                                    </div>
                                </figure>
                            </div>
                            <div class="modal-footer">
                                <div class="push-right">
                                    <button class="ink-button caution ink-dismiss">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" style="display:none;" id="showModal" class="ink-button">Open example modal</a>
        
        <footer class="clearfix" id="footer">
            <div class="ink-grid">
                <div class="fw-300">
                    <p class="note">
                        <br>
                        Copyright © 2018 <a style="text-decorations:none; color:inherit" href="http://horatiulazu.ca" target="_blank">Horatiu Lazu</a>.
                    </p>    
                </div>
            </div>
        </footer>    

        <script type="text/javascript" src="/javascripts/holder.js"></script>
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        <script type="text/javascript" src="/javascripts/ink-all.min.js"></script>
        <script type="text/javascript" src="/javascripts/autoload.js"></script>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/javascripts/googlemaps.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyD5HcWosMySGKaihhPx4dGRosKdxIybHpQ"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

        <script>
            document.getElementById ("all-segment-efforts-imposed").addEventListener("click", () => getChart("aggregate-leaderboard"), false);
            document.getElementById ("individual-segment-efforts-imposed").addEventListener("click", () => getChart("aggregate-individual"), false);
            document.getElementById ("personal-history").addEventListener("click", () => getChart("individual-historical-performance"), false);
            document.getElementById ("leaderboard-history").addEventListener("click", () => getChart("leaderboard-historical-performance"), false);
            document.getElementById ("personal-history-regression").addEventListener("click", () => getChart("individual-historical-regression"), false);
            document.getElementById ("individual-wind-radar").addEventListener("click", () => getChart("individual-wind-radar"), false);
            // document.getElementById ("all-segmented-efforts-interpolate").addEventListener("click", () => getChart("all-segment-efforts-imposed"), false);

            document.getElementById ("overviewTab").addEventListener("click", () => pushDown(), false);
            document.getElementById ("chartsTab").addEventListener("click", () => pushDown(), false);
            document.getElementById ("compareTab").addEventListener("click", () => pushDown(), false);

            longitude = parseFloat({{longitude}}).toFixed(6);
            latitude = parseFloat({{latitude}}).toFixed(6);

            const defaultOptions = {
                "title": {
                    display: true,
                },
                "scales": {
                    "yAxes": [{
                        "ticks": {
                            "beginAtZero": true,
                            "callback": (value, index, values) => value + 'km/h',
                        },
                    }],
                }
            };

            path = [];
            {{#with map}}
                path["id"] = "{{id}}";
                path["polyline"] = "{{polyline}}";
                path["resource_state"] = {{resource_state}};
            {{/with}}
            initialize();
            let origChartArr;
            let currData;

            function getChart(chartType, id){
                if (id == undefined){
                    id = "{{athleteID}}";
                }

                $.getJSON(`../../charts/get/chart/${chartType}?segmentID={{id}}&athleteID=${id}`, (chartDataResponse) => {
                    if (chartDataResponse.message) {
                        alert(chartDataResponse.message);
                        return;
                    }
                    
                    $('#chart').remove();
                    $('#chart-container').append('<canvas id="chart"></canvas>');
                    const ctxIndividualEffortsSpeedChart = document.getElementById('chart').getContext('2d');
                    ctxIndividualEffortsSpeedChart.clearRect(0, 0, ctxIndividualEffortsSpeedChart.width, ctxIndividualEffortsSpeedChart.height);

                    const allEffortsBarChart = new Chart(ctxIndividualEffortsSpeedChart, {
                        type: (chartType.indexOf('radar') != -1 ? 'radar' : 'bar'), // ??? 
                        data: chartDataResponse.data,
                        options: (chartType.indexOf('aggregate') === -1 && chartType.indexOf('radar') === -1) ? defaultOptions : chartDataResponse.options,
                    });

                    $('#startDomainSlider').slider(); 
                    $('#endDomainSlider').slider(); 
                    $("#startDomainSlider").slider("option", "max", chartDataResponse.data.labels.length);
                    $("#endDomainSlider").slider("option", "max", chartDataResponse.data.labels.length);
                    $("#startDomainSlider").val = 0;
                    $("#endDomainSlider").val = $("#endDomainSlider").max;
                    $("#startX").text(0);
                    $("#endX").text(chartDataResponse.data.labels.length);

                    origChartArr = allEffortsBarChart.data.labels.slice();
                    currData = allEffortsBarChart;
                });
            }

            $(document).on('input', '#startDomainSlider', () => {
                currData.data.labels = origChartArr.slice($("#startDomainSlider").val(), $("#endDomainSlider").val());
                currData.update();
                $("#startX").text($("#startDomainSlider").val());
                $("#endX").text($("#endDomainSlider").val());
            });

            $(document).on('input', '#endDomainSlider', () => {
                currData.data.labels = origChartArr.slice($("#startDomainSlider").val(), $("#endDomainSlider").val());
                currData.update();
                $("#startX").text($("#startDomainSlider").val());
                $("#endX").text($("#endDomainSlider").val());
            });

            function showModal(id){
                $("#showModal")[0].click();
                
                // Individual Efforts Bar Graph
                $('#individualEffortsSpeedChart').remove();
                $('#individualEffortsSpeedChartContainer').append('<canvas id="individualEffortsSpeedChart"></canvas>');

                $.getJSON('../../charts/get/data/athlete-segment-efforts?segmentID={{id}}&athleteID=' + id, (chartDataResponse) => {
                    const data = chartDataResponse;
                    const ctxIndividualEffortsSpeedChart = document.getElementById('individualEffortsSpeedChart').getContext('2d');
                    ctxIndividualEffortsSpeedChart.clearRect(0, 0, ctxIndividualEffortsSpeedChart.width, ctxIndividualEffortsSpeedChart.height);
                    const options = { "scales": { "yAxes": [{ "ticks": { "beginAtZero":true }}]}};

                    const allEffortsBarChart = new Chart(ctxIndividualEffortsSpeedChart, {
                        type: 'bar',
                        data: data,
                        options: options
                    });
                    origChart = allEffortsBarChart;
                });

                // Line graph for historical performance
                $('#historicalSpeedDataChart').remove();
                $('#historicalSpeedDataContainer').append('<canvas id="historicalSpeedDataChart"></canvas>');

                $.getJSON('../../charts/get/data/athlete-segment-history?segmentID={{id}}&athleteID=' + id, (chartDataResponse) => {
                    const data = chartDataResponse;
                    const ctxhistoricalSpeedDataChart = document.getElementById('historicalSpeedDataChart').getContext('2d');
                    ctxhistoricalSpeedDataChart.clearRect(0, 0, ctxhistoricalSpeedDataChart.width, ctxhistoricalSpeedDataChart.height);
                    const options = {
                        "title": {
                            display: true,
                        },
                        "scales": {
                            "yAxes": [{
                                "ticks": {
                                    "beginAtZero": true,
                                    "callback": (value, index, values) => value + 'km/h',
                                },
                            }],
                        }
                    };

                    const allEffortsBarChart = new Chart(ctxhistoricalSpeedDataChart, {
                        type: 'line',
                        data: data,
                        options: options
                    });
                });
            }

            $.getJSON('../../charts/get/data/all-segment-efforts?segmentID={{id}}', (chartDataResponse) => {
                const data = chartDataResponse;
                const ctxAllEffortsSpeedChart = document.getElementById('chart').getContext('2d');
                const options = { "scales": { "yAxes": [{ "ticks": { "beginAtZero":true }}]}};

                const allEffortsBarChart = new Chart(ctxAllEffortsSpeedChart, {
                    type: 'bar',
                    data: data,
                    options: options
                });
            });

            function showInfluenceContainer(){
                    $("#influenceContainer").append(`<div class="ink-alert info block" role="alert"> <button class="ink-dismiss">&times;</button><h4>Influence Scoring Explanation</h4><p class="fw-300">Influence ratings determine the impact that wind had on a rider. Factors that are taken into account include wind direction, speed and the rider's direction and speed. Through manipulation of vectors and empirical data on wind's influence on cycling an approximate number is generated indicating wind's net influence, which added to . <br><br> Lower (negative) numbers indicate wind assisted the athlete, while the higher (positive) numbers indicate the converse.</p></div>`);
            }

            function pushDown() {
                setTimeout(() => {
                    let footer = $("#footer");
                    let pos = footer.position();
                    let height = $(window).height();
                    height = height - pos.top;
                    height = height - footer.height();
                    if (height > 0) {
                        footer.css({
                            'margin-top': height + 'px'
                        });
                    }
                }, 1000);
            }

            $(window).bind("load", function () {
                let footer = $("#footer");
                let pos = footer.position();
                let height = $(window).height();
                height = height - pos.top;
                height = height - footer.height();
                if (height > 0) {
                    footer.css({
                        'margin-top': height + 'px'
                    });
                }
            });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-85289613-1', 'auto');
              ga('send', 'pageview');
        </script>
    </body>
</html>