<html>
    <head>
        <meta name="description" content="Strava Wind Segment Analysis takes segment efforts and compares how much wind helped athletes on the leaderboard.">
        <meta name="author" content="Horatiu Lazu">
        <meta name="keywords" content="Strava,Weather,Analysis,Wind,Segment,KOM">
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/ink-flex.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
        <title> Wind Analysis - Segments </title>

        <script type="text/javascript" src="/javascripts/holder.js"></script>
        <script type="text/javascript" src="/javascripts/ink-all.min.js"></script>
        <script type="text/javascript" src="/javascripts/autoload.js"></script>
        <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
        
        <script src="http://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="fw-300">
            <nav class="ink-navigation">
                <ul class="menu horizontal black">
                    <div class="ink-grid">
                        <li><a href="../">Home </a> </li>
                        <li class="heading active"><a href="">Segments</a></li>
                        <li><a href="../rides">Rides</a></li>
                        <li><a href="../settings">Settings</a></li>
                        <li><a href="../logout">Logoff</a></li>
                    </div>
                </ul>
            </nav>
        </div>
        <br><br>
        <div class="ink-grid">
            <div class="column-group">
                <div class="all-80">
                    <div style="margin: 10px">
                        <table class="ink-table hover alternating">
                            <thead>
                                <div class="fw-500">
                                    <tr>
                                        <th class="align-left">Segment Name</th>
                                        <th class="align-left">Location</th>
                                        <th class="align-left">Distance</th>
                                        <th class="align-left">ID</th>
                                    </tr>
                                </div>
                            </thead>
                            <tbody>
                                {{#each segments}}
                                    {{#with this}}
                                            <tr class="fw-100">
                                                <td>{{name}} ({{average_grade}}%)</td>
                                                <td>{{city}}, {{country}}</td>
                                                <td>{{distance}}km</td>
                                                <td><a href="/segments/details?id={{id}}">{{id}}</a></td>
                                            </tr>
                                    {{/with}}
                                {{/each}}
                            </tbody>
                        </table>    
                    </div>            
                </div>
                <div class="all-20">
                    <nav class="ink-navigation sidebar">
                        <div class="fw-300">
                            <form class="ink-form">
                                <div class="control-group all-100 small-100 tiny-100">
                                    <div class="control append-button" role="search">
                                        <span><input type="text" name="" id="segment-id" placeholder="segment id"></span>
                                        <button class="ink-button" id="search-button">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Distance </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="d1" checked="checked"><label for="cb5"> 0m - 250m</label></li>
                                <li><input type="checkbox" id="d2" checked="checked"><label for="cb4"> 250m - 1km</label></li>
                                <li><input type="checkbox" id="d3" checked="checked"><label for="cb3"> 1km - 2.5km</label></li>
                                <li><input type="checkbox" id="d4" checked="checked"><label for="cb2"> 2.5km - 5km</label></li>
                                <li><input type="checkbox" id="d5" checked="checked"><label for="cb1"> 5km+</label></li>
                                <li><input type="checkbox" id="d6" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Rank </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="r1" checked="checked"><label for="cb5"> KOM / QOM</label></li>
                                <li><input type="checkbox" id="r2" checked="checked"><label for="cb4"> 2nd - 5th</label></li>
                                <li><input type="checkbox" id="r3" checked="checked"><label for="cb3"> 5th - 10th</label></li>
                                <li><input type="checkbox" id="r4" checked="checked"><label for="cb2"> 10th - 25th</label></li>
                                <li><input type="checkbox" id="r5" checked="checked"><label for="cb1"> 25th+</label></li>
                                <li><input type="checkbox" id="r6" checked="checked"><label for="cb1"> Select All</label></li>
                            </ul>
                            </div>
                        </ul>

                        <hr>

                        <ul class="menu vertical">
                            <li class="heading"> Average Speed </li>
                            <div class="fw-300">
                            <ul class="control unstyled">
                                <li><input type="checkbox" id="s1" checked="checked"><label for="cb5"> 0 - 15km/h</label></li>
                                <li><input type="checkbox" id="s2" checked="checked"><label for="cb4"> 15km/h - 23km/h</label></li>
                                <li><input type="checkbox" id="s3" checked="checked"><label for="cb3"> 23km/h - 33km/h</label></li>
                                <li><input type="checkbox" id="s4" checked="checked"><label for="cb2"> 33km/h - 37km/h</label></li>
                                <li><input type="checkbox" id="s5" checked="checked"><label for="cb1"> 37km/h - 45km/h</label></li>
                                <li><input type="checkbox" id="s6" checked="checked"><label for="cb1"> 45km/h - 57km/h </label></li>
                                <li><input type="checkbox" id="s7" checked="checked"><label for="cb1"> 57km/h+ </label></li>
                                <li><input type="checkbox" id="s8" checked="checked"><label for="cb1"> Select All </label></li>
                            </ul>
                            </div>
                        </ul>

                    </nav>
                    <hr>
                    <button class="ink-button" id="filter">Filter Results</button>
                </div>
            </div>
        </div>
        <script>
            let filteringGroups = new Map();
            filteringGroups.set('d', 6);
            filteringGroups.set('r', 6);
            filteringGroups.set('s', 8);

            Array.from(filteringGroups.keys()).forEach(key => {
                let count = filteringGroups.get(key);
                $('#' + key + '' + count).click(() => {
                    for(let x = 1; x < count; x++){
                        if ($('#' + key + '' + count).is(':checked')){
                            $("#" + key + "" + x).prop('checked', true);
                        }
                        else{
                            $("#" + key + "" + x).prop('checked', false);
                        }
                    }
                });
            });
            
            $('.ink-form').submit(() => {
                if ($("#segment-id").val() == ""){
                    alert("Please enter a segment ID");
                    return false;
                }
                else{
                    window.location = window.location + "/details?id=" + $("#segment-id").val();
                    return false;
                }
            });

            $('#filter').click(() => {
                alert("Sorry, feature is coming soon!");
            });

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              ga('create', 'UA-85289613-1', 'auto');
              ga('send', 'pageview');
        </script>
    </body>
</html>